<html>
  <body>
    <div>
      
    </div>
    <tbody>
      <% Book.all.each do |book| %>
        <tr>
          <td><%= link_to book.title, book_path(book.id %></td>
          <td><%= book.body %></td>
          
        </tr>
      <% end %>
    </tbody>
  </body>
</html>