<html>
  <body>
    <main>
      <h2>Books</h2>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <tbody>
          <% @book.each do |book| %>
            <tr>
              <%#= link_to book_path(book.id) do %>
                <%#= image_tag book.get_image %>
              <%# end %>
              <td><%#= image_tag 'no_image.jpg' %></td>
              <td>
                <span>
                  <%= link_to book.title, book_path(book.id) %>
                </span>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </main>
  </body>
</html>